@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	background-color:  #222;;
}

/* page elements */

a {
	text-decoration: none;
	color: #06f;
	font-weight: 700;
}

a img {
	border: 0;
}

.bigRule {
	margin: 25px 10px;
	border: 0;
	height: 1px;
	background: #7F7F7F;
}

.smallRule {
	margin: 10px 0px;
	border: 0;
	height: 1px;
	background: #7F7F7F;
}

.figureLeft {
	float: left;
	padding: 0 10px 0 0;
}

.figureRight {
	float: right;
	padding: 0 0 0 10px;
}

.figureCenter {
	text-align: center;
	padding: 0 0 0 10px;
}

.video-container {
  margin: 1em 0;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container.video-container__youtube {
  padding-top: 30px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* font styles */

.textbutton {
	font-weight: 700;
	font-size: 30px;
	padding: 0 16px;
}

.textLink {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	padding: 0 0.2em;
}

.text_vsmall {
	font-family: Roboto, sans-serif;
	font-size: 11px;
	line-height: 1.5em;
}

.text_vvsmall {
	font-family: Roboto, sans-serif;
	font-size: 9px;
	line-height: 1.5em;
}

/* div styles */

#contentWrap {
	padding: 0 30px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/* sidebar */

#sidebar {
	background-color:#fff;
}

#navigation {
	text-align: right;
	padding: 0px 10px 0px 0px;
}

#navigation2 {
	text-align: right;
	padding: 0px 10px 0px 0px;
}

/* semantic elements */

header {
	font-family: Roboto, sans-serif;
	font-weight: 100;
	text-align: center;
	color: white;
	padding: 30px 10px 10px 10px;
}

article {
	border-radius: 15px;
	background-color: #333;
	font-family: Roboto, sans-serif;
	line-height: 1.5em;
	color: white;
	margin: 20px auto;
	padding: 20px;
}

/* font styles */

.logoFont {
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 37px;
	color: black;
}

.mainlink {
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 24px;
	line-height: 1.4em;
	color: black;
}

.smalllink {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 1.6em;
	color: black;
}

#contactTitle {
	font-family: Roboto, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: black;
}

/* device-specific views */

@media all and (max-width: 799px) {
	#logo {
		padding: 10px 20px 5px 20px;
	}
	
	#navigation {
		padding: 0px 5px 5px 5px;
	}
	
	#navigation2 {
		padding: 0px 5px 5px 5px;
	}
	
	.mainlink {
		padding: 0 5px;
		font-size: 20px;
	}
	
	.smalllink {
		padding: 0 3px;
		font-size: 12px;
	}
	
	#contact {
		display: none;
	}
}

@media all and (min-width: 800px) {
	#contentWrap {
		min-height: 100vh;
		margin-left: 160px;
	}

	#sidebar {
		position: fixed;
		top: 0;
		width: 160px;
		min-height: 100vh;
		overflow: hidden; 
		float: left;
	}
	
	#logo {
		padding: 20px 15px 0px 15px;
	}
	
	#logo1, #logo2, .mainlink, .smalllink{
		display: block;
	}
	
	#logo1 {
		letter-spacing: 0px;
	}

	#logo2 {
		letter-spacing: 1px;
	}
	
	#contact {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0 7px 7px;
		display: flex;
		justify-content: space-between;
	}
}

@media all and (min-width: 1200px) {
	header {
		font-size: 42px;
	}
	
	subheader {
		max-width: 800px;
		font-size: 19px;
	}	

	article {
		max-width: 800px;
		font-size: 17px;
	}	
}

@media all and (max-width: 1199px) {
	header {
		font-size: 36px;
	}
	
	subheader {
		max-width: 800px;
		font-size: 17px;
	}	

	article {
		max-width: 600px;
		font-size: 15px;
	}
}